<h1 class="text-center">Angular + PHP + MySql</h1><br>
<h1 class="text-center">Agregar Personas (POST)</h1><br>

<div class="formulario">
  <form [formGroup]="form" class="row" (ngSubmit)="agregarPersona()">
      <div class="col-12">
          <label for="nom" class="form-label">Cédula</label>
          <input type="text" class="form-control" formControlName="cedula" name="cedula" id="cedula">
      </div>
      <div
            *ngIf="form.controls['cedula']?.invalid && (form.controls['cedula']?.dirty || form.controls['cedula']?.touched)">
            <span class="text-danger" *ngIf="form.controls['cedula'].errors?.['required']">
              Campo obligatorio
            </span>

            <span class="text-danger" *ngIf="form.controls['cedula'].errors?.['maxlength']">
                No puede exceder de 20 caracteres
            </span>
        </div>
      <div class="col-12">
        <label for="nom" class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" name="nombre" id="nombre">
    </div>
    <div
            *ngIf="form.controls['nombre']?.invalid && (form.controls['nombre']?.dirty || form.controls['nombre']?.touched)">
            <span class="text-danger" *ngIf="form.controls['nombre'].errors?.['required']">
              Campo obligatorio
            </span>

            <span class="text-danger" *ngIf="form.controls['nombre'].errors?.['maxlength']">
                No puede exceder de 20 caracteres
            </span>
        </div>

      <div class="col-5">
          <label for="Edad" class="form-label">Edad</label>
          <input type="text" class="form-control" formControlName="edad" name="edad" id="edad">
      </div>
      <div
            *ngIf="form.controls['edad']?.invalid && (form.controls['edad']?.dirty || form.controls['edad']?.touched)">
            <span class="text-danger" *ngIf="form.controls['edad'].errors?.['required']">
              Campo obligatorio
            </span>

            <span class="text-danger" *ngIf="form.controls['edad'].errors?.['maxlength']">
                No puede exceder de 20 caracteres
            </span>
        </div>
     
      <div class="col-12 d-flex justify-content-center mt-3">
         <button class="btn btn-primary" type="submit" [disabled]="this.form.invalid">Enviar</button>
      </div>
      
  </form>
</div><br>

<h1 class="text-center">Lista de personas (GET)</h1><br>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cedula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of personas, let i = index">
        <td>{{i+1}}</td>
        <td>{{item.Cedula}}</td>
        <td>{{item.Nombre}}</td>
        <td>{{item.Edad}}</td>
        <td>
          <button class="btn btn-danger" type="submit" (click)="eliminarPersona(item.ID)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
